
<div class="">
    <div class="breadcrumb">
        <h1>Admin</h1>
        <ul>
            <li><a>Municipalities Mantainance</a></li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Municipalities List</h5>
            <div>
                <div class="row">
                    <div class="col-1">
                        <button (click)="CreateMunicipality(CreateModal)" type="button" class="btn btn-success btn-rounded"><i title="Add Status" class="i-Add-UserStar"></i></button>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="searchUsers" placeholder="Search Users" [formControl]="searchControl"
                                class="form-control form-control-rounded" type="text">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card  o-hidden">
                            <ngx-datatable style="height: 500px; box-shadow: none" class="material fullscreen"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60"
                                [scrollbarH]="false" [scrollbarV]="true" [rows]="municipalityFiltered">
                                <ngx-datatable-column name="idMunicipality" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idMunicipality
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idDepartment" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idDepartment
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idCountry" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idCountry
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="description" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        description
                                    </ng-template>
                                </ngx-datatable-column>
                                
                                <ngx-datatable-column name="creationDate" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        creationDate
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="idUserCreation" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idUserCreation
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="idStatus" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idStatus
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idMunicipality" [minWidth]="60" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        Options
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                        <button (click)="DeleteMunicipality(modalConfirm, value)" type="button" class="btn btn-danger btn-rounded m-1"><i title="Remove User" class="i-Remove-User"></i></button>
                                        <button (click)="EditMunicipality(EditModal, value)" type="button" class="btn btn-warning btn-rounded m-1"><i title="Update User" class="i-Checked-User"></i></button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalConfirm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">idMunicipality deletion</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you want to delete <span class="text-primary">{{selectedidMunicipality.ididMunicipality}}</span> ?</strong></p>
      <p>All information associated to this user will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss(false)">Cancel</button>
      <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close(true)">Ok</button>
    </div>
</ng-template>

<ng-template #CreateModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Create Municipality</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="createMunicipalityForm">
        <div class="form-group">
            <label for="idDepartment">idDepartment</label>
            <input id="idDepartment" class="form-control form-control-rounded" formControlName="idDepartment" type="text">
        </div>
        <div class="form-group">
            <label for="idCountry">idCountry</label>
            <input id="idCountry" class="form-control form-control-rounded" formControlName="idCountry" type="text">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input id="description" class="form-control form-control-rounded" formControlName="description" type="text">
        </div>
        <div class="form-group">
            <label for="creationDate">creationDate</label>
            <input id="creationDate" class="form-control form-control-rounded" formControlName="creationDate" type="text">
        </div>
        <div class="form-group">
            <label for="idUserCreation">idUserCreation</label>
            <input id="idUserCreation" class="form-control form-control-rounded" formControlName="idUserCreation" type="text">
        </div>
        <div class="form-group">
            <label for="idStatus">idStatus</label>
            <input id="idStatus" class="form-control form-control-rounded" formControlName="idStatus" type="text">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss(false)">Cancel</button>
      <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click)="modal.close(true)">Save</button>
    </div>
</ng-template>


<ng-template #EditModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Update Municipality</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editMunicipalityForm">
        <div class="form-group">
            <label for="idDepartment">idDepartment</label>
            <input id="idDepartment" class="form-control form-control-rounded" formControlName="idDepartment" type="text">
        </div>
        <div class="form-group">
            <label for="idCountry">idCountry</label>
            <input id="idCountry" class="form-control form-control-rounded" formControlName="idCountry" type="text">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input id="description" class="form-control form-control-rounded" formControlName="description" type="text">
        </div>
        <div class="form-group">
            <label for="creationDate">creationDate</label>
            <input id="creationDate" class="form-control form-control-rounded" formControlName="creationDate" type="text">
        </div>
        <div class="form-group">
            <label for="idUserCreation">idUserCreation</label>
            <input id="idUserCreation" class="form-control form-control-rounded" formControlName="idUserCreation" type="text">
        </div>
        <div class="form-group">
            <label for="idStatus">idStatus</label>
            <input id="idStatus" class="form-control form-control-rounded" formControlName="idStatus" type="text">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss(false)">Cancel</button>
      <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click)="modal.close(true)">Save</button>
    </div>
</ng-template>

