<div class="">
    <div class="breadcrumb">
        <h1>Admin</h1>
        <ul>
            <li><a>Order Header Mantainance</a></li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Order Header List</h5>
            <div>
                <div class="row">
                    <div class="col-1">
                        <button type="button" class="btn btn-success btn-rounded"><i title="Add Status" class="i-Add-UserStar"></i></button>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="searchUsers" placeholder="Search Users" [formControl]="searchControl"
                                class="form-control form-control-rounded" type="text">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card  o-hidden">
                            <ngx-datatable style="height: 500px; box-shadow: none" class="material fullscreen"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60"
                                [scrollbarH]="false" [scrollbarV]="true" [rows]="orderHeaderFiltered">
                                <ngx-datatable-column name="idOrder" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        ID
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idCustomer" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idCustomer
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idProvider" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idProvider
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idClientAddress" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idClientAddress
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="description" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        Description
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idCategory" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        IdCategory
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idSubCategory" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idSubCategory
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="creationDate" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        creationDate
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="executionDate" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        executionDate
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="closingDate" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        closingDate
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idStatus" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        idStatus
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="satisfactionLevel" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        satisfactionLevel
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="customerObservation" [minWidth]="40" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        customerObservation
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="idOrder" [minWidth]="60" [maxWidth]="200">
                                    <ng-template ngx-datatable-header-template>
                                        Options
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                        <button (click)="DeleteOrderHeader(modalConfirm, value)" type="button" class="btn btn-danger btn-rounded m-1"><i title="Remove User" class="i-Remove-User"></i></button>
                                        <button (click)="EditOrderHeader(EditModal, value)" type="button" class="btn btn-warning btn-rounded m-1"><i title="Update User" class="i-Checked-User"></i></button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalConfirm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Order Header Deletion</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you want to delete <span class="text-primary">{{selectedHeader.idOrder}}</span> ?</strong></p>
      <p>All information associated to this user will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss(false)">Cancel</button>
      <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close(true)">Ok</button>
    </div>
</ng-template>

<ng-template #EditModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Update Header</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editHeaderForm">
        <div class="form-group">
            <label for="idCustomer">idCustomer</label>
            <input id="idCustomer" class="form-control form-control-rounded" formControlName="idCustomer" type="text">
        </div>
        <div class="form-group">
            <label for="idProvider">idProvider</label>
            <input id="idProvider" class="form-control form-control-rounded" formControlName="idProvider" type="text">
        </div>
        <div class="form-group">
            <label for="idClientAddress">idClientAddress</label>
            <input id="idClientAddress" class="form-control form-control-rounded" formControlName="idClientAddress" type="text">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input id="description" class="form-control form-control-rounded" formControlName="description" type="text">
        </div>
        <div class="form-group">
            <label for="idCategory">idCategory</label>
            <input id="idCategory" class="form-control form-control-rounded" formControlName="idCategory" type="text">
        </div>
        <div class="form-group">
            <label for="idSubCategory">idSubCategory</label>
            <input id="idSubCategory" class="form-control form-control-rounded" formControlName="idSubCategory" type="text">
        </div>
        <div class="form-group">
            <label for="creationDate">creationDate</label>
            <input id="creationDate" class="form-control form-control-rounded" formControlName="creationDate" type="text">
        </div>
        <div class="form-group">
            <label for="executionDate">executionDate</label>
            <input id="executionDate" class="form-control form-control-rounded" formControlName="executionDate" type="text">
        </div>
        <div class="form-group">
            <label for="closingDate">closingDate</label>
            <input id="closingDate" class="form-control form-control-rounded" formControlName="closingDate" type="text">
        </div>
        <div class="form-group">
            <label for="idStatus">idStatus</label>
            <input id="idStatus" class="form-control form-control-rounded" formControlName="idStatus" type="text">
        </div>
        <div class="form-group">
            <label for="satisfactionLevel">satisfactionLevel</label>
            <input id="satisfactionLevel" class="form-control form-control-rounded" formControlName="satisfactionLevel" type="text">
        </div>
        <div class="form-group">
            <label for="customerObservation">customerObservation</label>
            <input id="customerObservation" class="form-control form-control-rounded" formControlName="customerObservation" type="text">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss(false)">Cancel</button>
      <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click)="modal.close(true)">Save</button>
    </div>
</ng-template>